#############
# כלליים
#############

# תיקיות בינאריות, לוגים, ו-builds
bin/
obj/
out/
*.log

# VS Code
.vscode/

# קבצים זמניים
*.tmp
*.temp
*.bak
*.swp
*.swo
*.sln.docstates

#############
# Visual Studio
#############
*.user
*.suo
*.userosscache
*.sln.docstates
*.dbmdl
*.pdb
*.cache
*.ilk
*.log
*.vspscc
*.vssscc
*.ncb
*.aps
*.sdf
*.opensdf
*.VC.db
.vs/

# קבצי שיחזור
_ReSharper*/
*.resharper
*.DotSettings.user

# Build results
[Bb]uild/
[Dd]ebug*/
[Rr]elease*/

#############
# .NET
#############
project.lock.json
project.fragment.lock.json
artifacts/
*.ide/
*.ide-shm
*.ide-wal

# מסד נתונים זמני
*.mdf
*.ldf

#############
# npm + React Client
#############

# node_modules – ספריות צד שלישי
**/node_modules/

# תוצרי build
**/build/
**/dist/

# קבצים זמניים של npm / yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# .env – משתני סביבה מקומיים
**/.env*
.env.local
.env.*.local

# IDEs
.idea/

#############
# others
#############
*.DS_Store
Thumbs.db
